APP_NAME=FastAPI Backend Starter Mongodb
APP_VERSION=0.1.0

DEBUG=True

HOST=0.0.0.0
PORT=8000

LOG_LEVEL=INFO

MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=fastapi_starter

SECRET_KEY= your secret key
ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7